.body {
	background-color: #d8dde6 !important;
}

footer {
	padding-top: 200px;
}

.header-logo {
	content: url("https://imberkth.github.io/img/header-logo.png");
}

.header-logo:hover {
	content: url("https://imberkth.github.io/img/header-logo-hover.png");
}

.cs {
	margin: auto;
	width: 50%;
	padding-top: 200px;
	text-align: center;
}

.twitter {
	padding-right: 10px;
	content: url("https://imberkth.github.io/img/twitter-social-32.png");
}

.twitter:hover {
	content: url("https://imberkth.github.io/img/twitter-social-32-hover.png");
}

.twitch {
	padding-right: 10px;
	content: url("https://imberkth.github.io/img/twitch-social-32.png");
}

.twitch:hover {
	content: url("https://imberkth.github.io/img/twitch-social-32-hover.png");
}

.github {
	padding-right: 30px;
	content: url("https://imberkth.github.io/img/github-social-32.png");
}

.github:hover {
	content: url("https://imberkth.github.io/img/github-social-32-hover.png");
}

.darkmode {
	content: url("file:///C:/Users/Unichek/Documents/GitHub/imberkth.github.io/img/darkmode-icon-32.png");
}

.darkmode:hover {
	content: url("file:///C:/Users/Unichek/Documents/GitHub/imberkth.github.io/img/darkmode-icon-32-hover.png");
}

.lightmode {
	content: url("file:///C:/Users/Unichek/Documents/GitHub/imberkth.github.io/img/lightmode-icon-32.png");
}

.lightmode:hover {
	content: url("file:///C:/Users/Unichek/Documents/GitHub/imberkth.github.io/img/lightmode-icon-32-hover.png");
}

.body-dark {
	background-color: #1b1b1b !important;
}

.csimg-dark {
	content: url("file:///C:/Users/Unichek/Documents/GitHub/imberkth.github.io/img/coming-soon-dark.png");
}

.copyimg-dark {
	content: url("file:///C:/Users/Unichek/Documents/GitHub/imberkth.github.io/img/copyright-small-dark.png");
}