    * {
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }

    html, body {
        background-color: #303245;
        text-align: center;
        color: #c8cde1;
        margin: 0;
        height: 100%;
    }

    .navbar {
        position: fixed;
        float: left;
        top: 0;
        width: 100%;
    }

    .navbar-left {
        float: left;
        width: 10%;
        height: 48px;
        background-image: url("../img/navbar-left.png");
        background-position: left;
        background-repeat: no-repeat;
    }

    .navbar-left a img {
        float: left;
        padding-left: 26px;
    }

    .navbar-middle {
        float: left;
        width: 84%;
        height: 48px;
        background-image: url("../img/navbar-middle.png");
        background-position: center;
        background-repeat: repeat-x;
    }

    .navbar-middle a img {
        float: right;
    }

    .navbar-middle a img.discord{
        padding-right: 6px;
    }

    .navbar-middle a img.twitch{
        padding-right: 12px;
    }

    .navbar-middle a img.instagram{
        padding-right: 12px;
    }

    .navbar-middle a img.twitter{
        padding-right: 12px;
    }

    .navbar-right {
        float: left;
        width: 6%;
        height: 48px;
        background-image: url("../img/navbar-right.png");
        background-position: right;
        background-repeat: no-repeat;
    }

    .navbar-right a img { 
        float: right;
        padding-right: 26px;
    }

    .main {
        float: left;
        min-height: 96%;
        width: 100%;
        padding-top: 50px;
    }

    .main-top {
        float: left;
        width: 100%;
    }

    .main-top-left {
        float: left;
        width: 6%;
        height: 38px;
        background-image: url("../img/main-top-left.png");
        background-position: left;
        background-repeat: no-repeat;
    }

    .main-top-middle {
        float: left;
        width: 88%;
        height: 38px;
        background-image: url("../img/main-top-middle.png");
        background-position: center;
        background-repeat: repeat-x;
    }

    .main-top-right {
        float: left;
        width: 6%;
        height: 38px;
        background-image: url("../img/main-top-right.png");
        background-position: right;
        background-repeat: no-repeat;
    }

    .main-mid {
        float: left;
        width: 100%;
    }

    .main-mid-left {
        float: left;
        width: 6%;
        height: 772px;
        background-image: url("../img/main-mid-left.png");
        background-position: left;
        background-repeat: no-repeat;
    }

    .main-mid-middle {
        float: left;
        width: 88%;
        height: 772px;
        background-image: url("../img/main-mid-middle.png");
        background-position: center;
        background-repeat: repeat-x;
    }

    .main-mid-right {
        float: left;
        width: 6%;
        height: 772px;
        background-image: url("../img/main-mid-right.png");
        background-position: right;
        background-repeat: no-repeat;
    }

    .main-bottom {
        float: left;
        width: 100%;
    }

    .main-bottom-left {
        float: left;
        width: 6%;
        height: 38px;
        background-image: url("../img/main-bottom-left.png");
        background-position: left;
        background-repeat: no-repeat;
    }

    .main-bottom-middle {
        float: left;
        width: 88%;
        height: 38px;
        background-image: url("../img/main-bottom-middle.png");
        background-position: center;
        background-repeat: repeat-x;
    }

    .main-bottom-right {
        float: left;
        width: 6%;
        height: 38px;
        background-image: url("../img/main-bottom-right.png");
        background-position: right;
        background-repeat: no-repeat;
    }

    .footer-left {
        float: left;
        width: 10%;
        height: 40px;
        background-image: url("../img/footer-left.png");
        background-position: left;
        background-repeat: no-repeat;
    }

    .footer-middle {
        float: left;
        width: 80%;
        height: 40px;
        background-image: url("../img/footer-middle.png");
        background-position: center;
        background-repeat: repeat-x;
    }

    .footer-right {
        float: left;
        width: 10%;
        height: 40px;
        background-image: url("../img/footer-right.png");
        background-position: right;
        background-repeat: no-repeat;
    }